.body {
  width: 100%;
  margin-top: 2rem;
  height: auto;
  
}
.heading {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
 
 
}

.campaignHeading1{
  margin-left: 4.9rem;
  font-size: 2rem;
  font-weight: bold;
}
.campaignHeading2{
  margin-right: 5.5rem;
  font-size: 2rem;
  font-weight: bold;
  
}
.container {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

@media(max-width:1670px){
  .container{
    gap: 0;
  }
  .campaignHeading1{
    margin-left: 1rem;
  }
  .campaignHeading2{
    margin-right: 1.5rem;
  }


}

@media(max-width:1638px){
  .container{
    gap: 10rem;
  }
  .campaignHeading1{
    margin-left: 8.8rem;
  }
  .campaignHeading2{
    margin-right: 9rem;
  }
}
@media(max-width:1534px){
  .container{
    gap: 10rem;
  }
  .campaignHeading1{
    margin-left: 5.8rem;
  }
  .campaignHeading2{
    margin-right: 6rem;
  }
}
@media(max-width: 1470px){
  .container{
    gap: 5.5rem;
  }
  .campaignHeading1{
    margin-left: 5.8rem;
  }
  .campaignHeading2{
    margin-right: 6rem;
  }
}
@media(max-width: 1338px){
  .container{
    gap: 5.5rem;
  }
  .campaignHeading1{
    margin-left: 2rem;
  }
  .campaignHeading2{
    margin-right: 2rem;
  }
}
@media(max-width: 1246px){
   .heading{
    display: flex;
    align-items: center;
    justify-content: center;
   }
}
@media(max-width: 479px){
  .campaignHeading1{
  
   font-size: 1.5rem;
  }
  .campaignHeading2{
   
    font-size: 1.5rem;
   }
 
}
@media(max-width: 370px){
  .campaignHeading1{
  
   font-size: 1rem;
  }
  .campaignHeading2{
   
    font-size: 1rem;
   }
 
}

