.sliderContainer {
  width: 50rem;
  height: auto;
  margin-top: 4rem;
  padding: 1rem;

  position: relative;
}

.slideImage {
  width: 10rem;
  height: 8rem;
  border-radius: 0.5rem;
  margin-left: 7rem;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  color: #2b9ac1;
  z-index: 10;
}

.nextArrow {
  right: 0.5rem;

  transform: translateX(2rem);
}

.prevArrow {
  left: 0.5rem;
  transform: translateX(-2.5rem);
}

@media (max-width: 1670px) {
  .nextArrow {
    transform: translateX(1.5rem);
  }
}

@media (max-width: 1638px) {
  .sliderContainer {
    width: 35rem;
  }
}

@media (max-width: 1638px) {
  .nextArrow {
    transform: translateX(2.5rem);
  }
}

@media (max-width: 1246px) {
  .sliderContainer {
    width: 50rem;
  }
  .nextArrow {
    transform: translateX(2rem);
  }
}

@media (max-width: 858px) {
  .sliderContainer {
    width: 45rem;
  }
  .nextArrow {
    transform: translateX(2rem);
  }
}
@media (max-width: 732px) {
  .sliderContainer {
    width: 30rem;
  }
  .nextArrow {
    transform: translateX(2rem);
  }
}

@media (max-width: 524px) {
  .sliderContainer {
    width: 25rem;
  }
  .nextArrow {
    transform: translateX(2rem);
  }
}
@media (max-width: 431px) {
  .sliderContainer {
    width: 21rem;
  }
  .nextArrow {
    transform: translateX(2rem);
  }
}
@media (max-width: 370px) {
  .sliderContainer {
    width: 19rem;
  }
  .nextArrow {
    transform: translateX(2rem);
  }
}
